@page
@{
    ViewData["Title"] = "Admin - Catalog";
    @model IndexModel
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<section class="esh-catalog-filters">
    <div class="container">
        
        <!-- TODO -->
    </div>
</section>
<div class="container">
    <!-- TODO -->
</div>
